<div class="w-full px-5 py-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4 text-center">

    <div class="flex items-center space-x-3">
      <span class="text-gray-700 font-medium">Sort by</span>
      <div class="relative inline-block w-60">
      <select class="rounded-md border-gray-300 px-3 py-2 ml-2 cursor-pointer" onchange="location = this.value;">
      <option value="<%= products_path(sort: 'price', direction: 'desc') %>" <%= "selected" if params[:sort] == 'price' && params[:direction] == 'desc' %>>Price: Low to High</option>
      <option value="<%= products_path(sort: 'price', direction: 'asc') %>" <%= "selected" if params[:sort] == 'price' && params[:direction] == 'asc' %>>Price: High to Low</option>
      <option value="<%= products_path(sort: 'created_at', direction: 'desc') %>" <%= "selected" if params[:sort] == 'created_at' && params[:direction] == 'desc' %>>Fresh arrivals</option>
      <option value="<%= products_path(sort: 'created_at', direction: 'asc') %>" <%= "selected" if params[:sort] == 'created_at' && params[:direction] == 'asc' %>>Oldest finds</option>
      <option value="<%= products_path(sort: 'name', direction: 'desc') %>" <%= "selected" if params[:sort] == 'name' && params[:direction] == 'desc' %>>Name: A to Z</option>
      <option value="<%= products_path(sort: 'name', direction: 'asc') %>" <%= "selected" if params[:sort] == 'name' && params[:direction] == 'asc' %>>Name: Z to A</option>
    </select>
      </div>
    </div>
  </div>



  <%= link_to "Shop by Category", categories_path, class: "inline-block text-gray transition-transform duration-200 hover:scale-110" %>


  <div id="products" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-6 mb-8 mt-8">
    <% @products.each do |product| %>
      <div class="p-4 rounded-lg h-full flex flex-col">
        <%= render product %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById('sort-menu').addEventListener('change', function() {
    window.location.href = this.value;
  });
</script>
