<header class="relative">
  <!-- Background image -->
  <div class="absolute inset-0">
    <%= image_tag "artistic.jpg", class: "w-full h-40 object-cover" %>
  </div>

  <div class="relative z-10 text-center pt-16 text-white">
    <h1 class="text-7xl font-bold font-mag">Art Sphere</h1>
  </div>

  <nav class="relative z-10  bg-black shadow-md mt-6">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      
      <div class="flex space-x-4">
        <%= link_to 'Home', root_path, class: 'text-gray-100 hover:text-gray-600 font-medium' %>
        <%= link_to 'Gallery', root_path, class: 'text-gray-100 hover:text-gray-600 font-medium' %>
        <% content_for :title, "Products" %>
   
   <%= link_to "Shop by category", categories_path, class: "text-gray-100 hover:text-gray-600 font-medium" %>
 
      </div>

  
      <div>
        <%= link_to 'Login', new_admin_session_path, class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600' %>
      </div>
    </div>
  </nav>
</header>
